


body {
    background: #343434;
    background: azure;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.keret {
    width: 40%;
    border: 5px solid #666566;
    background-color: bisque;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 11px;
}

header {
    color: black;
    text-align: center;
}

p {
    text-align: justify;
}

.hasab-bal {
    float: left;
    width: 40%;
}

.hasab-jobb {
    float: right;
    width: 40%;
}

h2, h3 {
    text-align: center;
}

.gitar-lista {
    list-style: none;
}

.gitar-lista li {
    border: 1px solid darkgray;
    border-radius: 8px;
    text-align: justify;
    padding: 10px;
    margin-bottom: 20px;
}

.gitar-kep {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    width: 120px;
    height: auto;
    float: left;
    margin: 0 15px 10px 0;
}

.kep, .abra {
    width: 70%;
    height: 15%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    max-width: auto;
    display: block;
}

.gitar-kep-jobbra {
    float: left;
    margin: 0 15px 10px 20px;
    width: 200px;
    height: auto;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.1);
}

.clear {
    clear: both;
}


